
        <section class="content-header">
            <div class="title-wrapper pt-30">

            <div class="col-md-6">
                <div class="title d-flex align-items-center flex-wrap mb-30">
            <h3>Utilisateur</h3>
            <button type="submit" class="btn btn-default"  (click)="ajouter()" >nouvel utilisateur</button>
            </div>
        </div>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Tables</a></li>
                <li class="active">Simple</li>
            </ol>
        </div>

        </section>

 

    <div class="title-wrapper pt-30">


        <section class="content">


            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">utilisateur</h3>
                            <div class="box-tools">
                                <div class="input-group input-group-sm hidden-xs" style="width: 150px;">
                                    <input type="text" name="table_search" class="form-control pull-right"
                                        placeholder="Search">
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-default"><i
                                                class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="box-body table-responsive no-padding">
                            <table class="table table-striped  table-sm row-border hover">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Non</th>
                                    <th>Prenom</th>
                                    <th>Email</th>
                                    <th>statut</th>
                                    <th>profil</th>
                                    <th>Action</th>
                                </tr>              
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of users">
                                    <td class="min-width">
                                        <p>{{ user.codeUtilisateur}} </p>
                                    </td>
                                  <td class="min-width">
                                      <p>{{ user.nom}} </p>
                                  </td>
                                  <td class="min-width">
                                      <p>{{ user.prenom}} </p>
                                  </td>
                                  <td class="min-width">
                                    <p>{{ user.email}}</p>
                                  </td>
                                  <td class="min-width">
                                    <p>{{ user.statut }}</p>
                                  </td>
                                  <td class="min-width">
                                    <p>{{ user.profil.libelleProfil }}</p>
                                  </td>
                                  <td>
                                    <div class="action">
                                      <button class="text-danger" (click)="confirmBox(user)">
                                        <i class="lni lni-trash-can"></i>
                                      </button>
                                      <a class="text-info" (click)="getUser(user)">
                                        <i class="lni lni-pencil"></i>
                                      </a>
                                    </div>
                                  </td>
                                </tr>
                                <!-- end table row -->
                              </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>
        </section>

    </div>



