<div class="wrapper">

    <app-nav></app-nav>
    <!-- Left side column. contains the logo and sidebar -->
    <app-sidebar></app-sidebar>
  
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <router-outlet></router-outlet>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
  
    <app-footer></app-footer>
  
   
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    
  
  </div>
  
