<div class="login-box">
    <div class="login-logo">
      <a href="../../index2.html"><b>Hcare</b>Data</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">veullez changer votre mots de passe </p>
  
      <form [formGroup]="form">
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Email" formControlName="email">
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
       
        <div class="form-group ">
            <input type="password" class="form-control" placeholder="ancien mot de passe" formControlName="oldPassword">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="form-group ">
            <input type="password" class="form-control" placeholder="nouveau mot de passe" formControlName="newPassword">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="form-group ">
            <input type="password" class="form-control" placeholder="confirmer votre mot de passe" formControlName="password">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
      
        <div class="social-auth-links text-center">
            <button type="submit" class="btn btn-primary btn-block btn-flat" (click)="newPasswords()">Changer</button>
          </div>
      </form>
  
    
      <!-- /.social-auth-links -->
  
      <a href="#">mot de passe oublié</a><br>
  
    </div>
    <!-- /.login-box-body -->
  </div>