

  <div class="login-box">
    <div class="login-logo">
      <a href="#"><b>Hcare</b>Data</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">connecter vous a votre plateforme </p>
  
      <form [formGroup]="form">
        <div class="form-group has-feedback">
          <input type="email" class="form-control" placeholder="Email" formControlName="email">
          <div *ngIf="email?.dirty || email?.touched">
              <span *ngIf="email?.hasError('required')" class="redColor">
                email obligatoire !!
              </span>
              <span *ngIf="email?.hasError('email')" class="redColor">
                email incorrect !!
              </span>
          </div>
        </div>
        <div class="form-group has-feedback">
          <input type="password" class="form-control" placeholder="Password" formControlName="password">
          <div *ngIf="password?.dirty || password?.touched">
            <span *ngIf="password?.hasError('required')" class="redColor">
              mot de passe obligatoire !!
            </span>
            
        </div>
        </div>
        
      
  
        <div class="social-auth-links text-center">
          <button type="submit" class="btn btn-primary btn-block btn-flat" (click)="signIn()">Sign In</button>
        </div>
      </form>
  
      
      <!-- /.social-auth-links -->
  
      <a href="#">Mots de passe oublié</a><br>
      <!--a href="register.html" class="text-center">Register a new membership</a-->
  
    </div>
    <!-- /.login-box-body -->
  </div>
